<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- MyBatis 환경설정 -->
	<typeAliases>
		<typeAlias type="com.animal.domain.GroupVO" alias="groupVO"/>
		<typeAlias type="com.animal.domain.GroupPersonVO" alias="grouppersonVO"/>
		<typeAlias type="com.animal.domain.MemberVO" alias="member"/>
  <typeAlias type="com.animal.domain.BlacklistVO" alias="blacklist"/>
  <typeAlias type="com.animal.domain.NoticeTextVO" alias="noticetext"/>
	</typeAliases>
</configuration>