<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- MyBatis 환경설정 -->
	<typeAliases>
		<typeAlias type="com.animal.domain.CareVO" alias="careVO"/>
		<typeAlias type="com.animal.domain.GroupVO" alias="groupVO"/>
		<typeAlias type="com.animal.domain.GroupPersonVO" alias="grouppersonVO"/>
		<typeAlias type="com.animal.domain.MemConfirmVO" alias="member"/>
		<typeAlias type="com.animal.domain.MemberVO" alias="memberVO"/>
		<typeAlias type="com.animal.domain.BlacklistVO" alias="blacklist"/>
		<typeAlias type="com.animal.domain.NoticeTextVO" alias="noticetext"/>
		<typeAlias type="com.animal.domain.ReplyVO" alias="areply"/>
		<typeAlias type="com.animal.domain.CenterVO" alias="center"/>
		<typeAlias type="com.animal.domain.CenterReplyVO" alias="centerreply"/>
		<typeAlias type="com.animal.domain.ShopVO" alias="shop"/>
		<typeAlias type="com.animal.domain.ProfessionalVO" alias="professionalVO"/>
		<typeAlias type="com.animal.domain.GroupPersonVO" alias="grouppersonVO"/>
		<typeAlias type="com.animal.domain.CustomVO" alias="custom"/> 
		<typeAlias type="com.animal.domain.CustomAttachVO" alias="customattach"/> 
		<typeAlias type="com.animal.domain.BillVO" alias="bill"/> 
		<typeAlias type="com.animal.domain.BillUserVO" alias="billuser"/>
		<typeAlias type="com.animal.domain.DonationVO" alias="donation"/> 
		<typeAlias type="com.animal.domain.DonationCheckVO" alias="donationCheck"/> 
		<typeAlias type="com.animal.domain.DonationAskVO" alias="donationask"/>
		<typeAlias type="com.animal.domain.AnimalVO" alias="animal"/>
		<typeAlias type="com.animal.domain.AgroupVO" alias="agroup"/>
		<typeAlias type="com.animal.domain.CareVO" alias="care"/>
		<typeAlias type="com.animal.domain.CareProVO" alias="carepro"/>
		<typeAlias type="com.animal.domain.CareProSelVO" alias="care_pro_select"/>
		<typeAlias type="com.animal.domain.NoticeBoardVO" alias="noticeboard"/>
	</typeAliases>
</configuration>